<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<div class="row left">
  <div class="col-lg-3 overflow-scroll" style="height: 500px; padding-left: 0">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="width: 100%;">
          <img src="../../../assets/images/at.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ẨM THỰC</h5>
            <p class="card-text">Trải nghiệm ẩm thực tại khu nghỉ dưỡng có sự pha trộn độc đáo các món ăn
              truyền thống Việt Nam với nhiều hơn vị ẩm thực châu Á, Ý và châu Âu cùng các món bò nhập
              khẩu thương hạng tại các nhà hàng, quầy bar đẳng cấp được bao quanh bởi một khu vườn nhiệt
              đới hay hướng mình ra biển...</p>
            <a href="https://furamavietnam.com/culinary/" class="btn btn-success">XEM THÊM</a>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card" style="width: 100%;">
          <img src="../../../assets/images/gt.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">GIẢI TRÍ</h5>
            <p class="card-text">Biến kỳ nghỉ năng động hơn bằng cách tham gia các hoạt động thể thao trên
              nước từ chèo thuyền catamaran, lướt ván buồm, chèo thuyền trên biển, lướt vát, đi xe đạp
              nước, và đa dạng các hoạt động khác.</p>
            <a href="https://furamavietnam.com/recreation/" class="btn btn-success">KHÁM PHÁ NGAY</a>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card" style="width: 100%;">
          <img src="../../../assets/images/sk.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SỰ KIỆN</h5>
            <p class="card-text">Cung hội nghị Quốc tế International Convention Place (ICP) với phòng Hội
              nghị lớn với sức chứa lên tới 1000 khách cùng hơn 10 phòng chức năng phụ trợ quy mô từ 50
              đến 300 khách được trang bị cơ sở vật chất, thiết bị hiện đại, là địa điểm lý tưởng dành cho
              các đoàn MICE tổ chức hội nghị, hội thảo và sự kiện.</p>
            <a href="https://furamavietnam.com/meeting-and-events/" class="btn btn-success">XEM THÊM</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/images/Review-Furama-Resort-Da-Nang-13.jpg" width="100%" height="500" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/anh2.jpg" width="100%" height="500" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="../../../assets/images/anh3.jpg" width="100%" height="500" alt="..." />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
</body>
</html>
