<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List Facility</title>
</head>
<body>
<div class="background-main">
  <div class="row text-danger text-center">
    <h1>QUẢN LÝ DỊCH VỤ</h1>
  </div>
  <div class="row main mb-3">

    <div class="col-lg-8">
      <a routerLink="/facility-create">
        <button class="btn btn-warning btn-outline-danger">Thêm mới dịch vụ</button>
      </a>
    </div>

  </div>

<!--  *ngFor="let temp of facilityList"-->
  <div class="row margin g-2">
      <div *ngFor="let facility of facilityList" class="col-lg-4">
        <div class="card">
          <img src="{{facility.image}}" height="300px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{facility.name}}</h5>
            <p class="card-text">Diện Tích: {{facility.area}} m2</p>
            <div class="row">
              <div class="col-lg-4">
                <a class="btn btn-primary" style="width: 100px" [routerLink]="['/facility-edit', facility.id]" role="button">Chỉnh
                  Sửa</a>
              </div>

              <div class="col-lg-3">
                <a>
                  <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="temp = facility">
                    Xóa
                  </button>
                </a>
              </div>
                <button class="btn btn-secondary" style="width: 80px" (click)="temp = facility" data-bs-toggle="modal" data-bs-target="#exampleModal1">Chi Tiết</button>

            </div>
          </div>
        </div>
    </div>

  </div>

  <br>
</div>

<!--modal xóa-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa dịch vụ: <label style="color: red">{{temp.name}}</label> không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteFacility()">Xóa</button>
      </div>
    </div>
  </div>
</div>
<app-info-facility [detail]="temp"></app-info-facility>
</body>
</html>
