<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List Facility</title>
</head>
<body>
<div class="background-main">
  <div class="row text-danger text-center">
    <h1>QUẢN LÝ DỊCH VỤ</h1>
  </div>
  <div class="row main mb-3">

    <div class="col-lg-8">
      <a href="../facility/create.html">
        <button class="btn btn-warning btn-outline-danger">Thêm mới dịch vụ</button>
      </a>
    </div>

    <div class="col-lg-4">
      <form class="d-flex">
        <input class="form-control me-2 justify-content-between" type="text" placeholder="Nhập tên dịch vụ"
               aria-label="Search" style="width: 150px" name="name">
        <input class="form-control me-2 justify-content-between" type="text" placeholder="Nhập loại dịch vụ"
               aria-label="Search" style="width: 150px" name="address">
        <input type="hidden" name="action" value="search">
        <button class="btn btn-success btn-outline-warning" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-search" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </form>
    </div>
  </div>

<!--  *ngFor="let temp of facilityList"-->
  <div class="row margin g-2">
      <div *ngFor="let temp of facilityList" class="col-lg-4">
        <div class="card">
          <img src="{{temp.image}}" height="300px" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{temp.name}}</h5>
            <p class="card-text">Diện Tích: {{temp.area}} m2</p>
            <div class="row">
              <div class="col-lg-4">
                <a class="btn btn-primary" style="width: 100px" [routerLink]="['/facility-edit']" role="button">Chỉnh
                  Sửa</a>
              </div>

              <div class="col-lg-3">
                <a>
                  <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Xóa
                  </button>
                </a>
              </div>
                <button class="btn btn-secondary" style="width: 80px">Chi Tiết</button>

            </div>
          </div>
        </div>
    </div>

  </div>

  <br>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
