<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Facility</title>
</head>
<body>
<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">THÊM MỚI DỊCH VỤ</h3>
            <form [formGroup]="form" (ngSubmit)="addFacility()">


              <div class="form-outline">
                <label for="facilityType" class="form-label fs-6">Loại Dịch Vụ</label>
                <select formControlName="facilityType" id="facilityType" class="select form-control-lg">
                  <option *ngFor="let facilityType of facilityTypeList" [ngValue]="facilityType">{{facilityType.name}}</option>
                </select>
              </div>


              <div class="form-outline">
                <label class="form-label" for="name">Tên dịch vụ</label>
                <input formControlName="name" type="text" id="name" class="form-control form-control-lg"/>
              </div>


              <div class="form-outline">
                <label class="form-label" for="area">Diện Tích</label>
                <input formControlName="area" type="number" id="area" class="form-control form-control-lg"/>
              </div>


              <div class="form-outline datepicker w-100">
                <label for="cost" class="form-label">Chi Phí Thuê</label>
                <input formControlName="cost" type="number" id="cost" class="form-control form-control-lg"/>
              </div>


              <div class="form-outline datepicker w-100">
                <label for="maxPeople" class="form-label">Số Người Tối Đa</label>
                <input formControlName="maxPeople" type="number" id="maxPeople" class="form-control form-control-lg"/>
              </div>


              <div class="form-outline mt-3 mb-3">
                <label for="rentType" class="form-label fs-6">Kiểu Thuê</label>
                <select formControlName="rentType" id="rentType" class="select form-control-lg">
                  <option *ngFor="let rentType of rentTypeList" [ngValue]="rentType">{{rentType.name}}</option>
                </select>
              </div>


              <div id="standardRoom" class="form-outline">
                <label for="standardRoom1" class="form-label">Tiêu Chuẩn Phòng</label>
                <input formControlName="standardRoom" type="text" id="standardRoom1" class="form-control form-control-lg"/>
              </div>


              <div id="descriptionOtherConvenience" class="form-outline">
                <label for="descriptionOtherConvenience1" class="form-label">Mô Tả Tiện Nghi Khác</label>
                <input formControlName="descriptionOtherConvenience" type="text" id="descriptionOtherConvenience1"
                       class="form-control form-control-lg"/>
              </div>


              <div id="poolArea" class="form-outline">
                <label for="poolArea1" class="form-label">Diện Tích Hồ Bơi</label>
                <input formControlName="poolArea" type="number" id="poolArea1" class="form-control form-control-lg"/>
              </div>

              <div id="numbersOfFloors" class="form-outline">
                <label for="numbersOfFloors1" class="form-label">Số Tầng</label>
                <input formControlName="numbersOfFloors" type="number" id="numbersOfFloors1" class="form-control form-control-lg"/>
              </div>

              <div id="facilityFree" class="form-outline">
                <label for="facilityFree1" class="form-label">Dịch Vụ Miễn Phí Đi Kèm</label>
                <input formControlName="facilityFree" type="text" id="facilityFree1" class="form-control form-control-lg"/>
              </div>

              <div class="form-outline">
                <label for="image" class="form-label">Hình Ảnh</label>
                <input formControlName="image" type="text"  id="image" class="form-control form-control-lg"/>
              </div>


              <div class="mt-4 pt-2">
                <button class="btn btn-primary btn-lg" type="submit">Lưu</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
</script>
</body>
</html>
