<h1>Cập Nhật Sản Phẩm</h1>
<form [formGroup]="form" (ngSubmit)="updateProduct()">
  <table>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Danh mục</td>
      <td><select formControlName="category" [compareWith]="compareWith" >
        <option *ngFor="let category of categoryList" [ngValue]="category">{{category.name}}</option>
      </select></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Cập Nhật</button></td>
    </tr>
  </table>
</form>
