<form [formGroup]="form" (ngSubmit)="createProduct()">
  <label>Nhập tên sản phẩm</label>
  <input type="text" formControlName="name">
  <label>Nhập giá sản phẩm</label>
  <input type="number" formControlName="price">
  <label>Nhập công ty</label>
  <input type="text" formControlName="company">
  <label>Chọn danh mục</label>
  <select formControlName="category">
    <option value="">Chọn danh mục</option>
    <option *ngFor="let category of categoryList" [ngValue]="category">{{category.name}}</option>
  </select>
  <button class="btn btn-danger">Lưu</button>
</form>
