<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Customer List</title>
</head>
<body>
<div class="background-main">
  <div class="row text-danger text-center">
    <h1>QUẢN LÝ KHÁCH HÀNG</h1>
  </div>
  <div class="row main">
    <div class="col-lg-8">
      <a routerLink="/customer-create">
        <button class="btn btn-warning btn-outline-danger">Thêm mới khách hàng</button>
      </a>
    </div>

    <div class="col-lg-4">
      <form class="d-flex">
        <input class="form-control me-2 justify-content-between" type="text" placeholder="Nhập tên"
               aria-label="Search" style="width: 150px" name="name">
        <input class="form-control me-2 justify-content-between" type="text" placeholder="Nhập địa chỉ"
               aria-label="Search" style="width: 150px" name="address">
        <input type="hidden" name="action" value="search">
        <button class="btn btn-success btn-outline-warning" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></button>
      </form>
    </div>
  </div>

  <div class="row margin">
    <table class="table table-striped table-bordered" id="tableCustomer" style="width: 100%">
      <thead>
      <tr class="align text-center">
        <th>STT</th>
        <th>Loại Khách</th>
        <th>Họ Tên</th>
        <th>Ngày Sinh</th>
        <th>Giới Tính</th>
        <th>Số CMND</th>
        <th>Số Điện Thoại</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Chỉnh sửa</th>
        <th>Xóa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customerList; index as i" class="align text-center">
        <td>{{i}}</td>
        <td>{{customer.customerType}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.dateOfBirth | date: "dd/MM/yyyy"}}</td>
        <td *ngIf="customer.gender">Nam</td>
        <td *ngIf="!customer.gender">Nữ</td>
        <td>{{customer.idCard}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address}}</td>
        <td>
          <a class="btn btn-primary" style="width: 100px" routerLink="/customer-edit" role="button">Chỉnh Sửa</a>
        </td>
        <td><a>
          <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Xóa
          </button>
        </a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
