<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Customer List</title>
</head>
<body>
<div class="background-main">
  <div class="row text-danger text-center">
    <h1>QUẢN LÝ KHÁCH HÀNG</h1>
  </div>
  <div class="row main">
    <div class="col-lg-4">
      <a routerLink="/customer-create">
        <button class="btn btn-warning btn-outline-danger">Thêm mới khách hàng</button>
      </a>
    </div>

    <div class="col-lg-8">
      <input type="text" #name placeholder="Nhập Tên" class="me-1">
      <select #customerType class="me-1" >
        <option value="">Nhập Loại khách hàng</option>
        <option *ngFor="let customerType of customerTypeList" [value]="customerType.name">{{customerType.name}}</option>
      </select>
      <button class="btn btn-primary" (click)="search(name.value, customerType.value)">Tìm kiếm</button>
    </div>
  </div>

  <div class="row margin">
    <table class="table table-striped table-bordered" id="tableCustomer" style="width: 100%">
      <thead>
      <tr class="align text-center">
        <th>STT</th>
        <th>Loại Khách</th>
        <th>Họ Tên</th>
        <th>Ngày Sinh</th>
        <th>Giới Tính</th>
        <th>Số CMND</th>
        <th>Số Điện Thoại</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Chỉnh sửa</th>
        <th>Xóa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customerList | paginate: { itemsPerPage: 5, currentPage: page};  index as i" class="align text-center">
        <td>{{i}}</td>
        <td>{{customer.customerType.name}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.dateOfBirth | date: "dd/MM/yyyy"}}</td>
        <td>{{customer.gender ? "Nam" : "Nữ"}}</td>
        <td>{{customer.idCard}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address}}</td>
        <td>
          <button class="btn btn-primary" style="width: 100px" role="button" [routerLink]="['/customer-edit', customer.id]">Chỉnh Sửa</button>
        </td>
        <td><a>
          <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="temp = customer">
            Xóa
          </button>
        </a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
<div class="col-9"></div>
<div class="col-3">
  <div class="has-text-centered ">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa khách hàng: <label style="color: red">{{temp.name}}</label> không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteCustomer()">Xóa</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
