<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contract</title>
</head>
<body>
<div class="background-main">
  <div class="row text-danger text-center">
    <h1>QUẢN LÝ HỢP ĐỒNG</h1>
  </div>
  <div class="row main">
    <div class="col-lg-2">
    </div>

    <div class="col-lg-3">
      <button class="btn btn-outline-primary" role="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal3">Thêm mới
      </button>
    </div>

    <div class="col-lg-4">
<!--      <form class="d-flex">-->
<!--        <input class="form-control me-2 justify-content-between" type="text" placeholder="Nhập tên dịch vụ"-->
<!--               aria-label="Search" style="width: 150px" name="name">-->
<!--        <input class="form-control me-2 justify-content-between" type="text" placeholder="Nhập tên khách hàng"-->
<!--               aria-label="Search" style="width: 150px" name="address">-->
<!--        <input type="hidden" name="action" value="search">-->
<!--        <button class="btn btn-success btn-outline-warning" type="submit">-->
<!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
<!--               class="bi bi-search" viewBox="0 0 16 16">-->
<!--            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>-->
<!--          </svg>-->
<!--        </button>-->
<!--      </form>-->
    </div>
  </div>

  <div class="row margin">
    <table class="table table-striped table-bordered" id="tableCustomer" style="width: 100%">
      <thead>
      <tr class="align text-center">
        <th>STT</th>
        <th>Ngày Bắt Đầu</th>
        <th>Ngày Kết Thúc</th>
        <th>Tiền Đặt Cọc</th>
        <th>Dịch Vụ</th>
        <th>Khách Hàng</th>
        <th>Nhân Viên</th>
        <th>Thao Tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let contract of contractList; index as i" class="align text-center">
        <td>{{i}}</td>
        <td>{{contract.startDay}}</td>
        <td>{{contract.endDay}}</td>
        <td>{{contract.deposit}}</td>
        <td>{{contract.facility.name}}</td>
        <td>{{contract.customer.name}}</td>
        <td>{{contract.employee.name}}</td>
        <td>
          <a class="btn btn-primary me-1" href="#" role="button">+</a>
          <a>
            <button type="submit" class="btn btn-primary">
              Danh sách các Dịch vụ đi kèm
            </button>
          </a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>






</body>
</html>
