<!--<h1>Cập Nhật Bệnh Án</h1>-->
<!--<form [formGroup]="form" (ngSubmit)="edit()">-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td>Bệnh Nhân</td>-->
<!--      <td><select formControlName="benhNhan" [compareWith]="compareWith" disabled>-->
<!--        <option *ngFor="let benhNhan of benhNhanList" [ngValue]="benhNhan">{{benhNhan.ten}}</option>-->
<!--      </select>-->
<!--        <label style="color: red" *ngIf="form.controls.benhNhan.hasError('required') && form.controls.benhNhan.touched">Không được để trống</label>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Ngày Nhập Viện</td>-->
<!--      <td><input type="date" formControlName="ngayNhapVien"></td>-->
<!--      <label style="color: red" *ngIf="form.controls.ngayNhapVien.hasError('required') && form.controls.ngayNhapVien.touched">Không được để trống</label>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Ngày ra viện</td>-->
<!--      <td><input type="date" formControlName="ngayRaVien"></td>-->
<!--      <label style="color: red" *ngIf="form.controls.ngayRaVien.hasError('required') && form.controls.ngayRaVien.touched">Không được để trống</label>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Lý do nhập viện</td>-->
<!--      <td><input type="text" formControlName="lyDo"></td>-->
<!--      <label style="color: red" *ngIf="form.controls.lyDo.hasError('required') && form.controls.lyDo.touched">Không được để trống</label>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Phương pháp</td>-->
<!--      <td><input type="text" formControlName="phuongPhapDieuTri"></td>-->
<!--      <label style="color: red" *ngIf="form.controls.phuongPhapDieuTri.hasError('required') && form.controls.phuongPhapDieuTri.touched">Không được để trống</label>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Bác sĩ điều trị</td>-->
<!--      <td><input type="text" formControlName="bacSi"></td>-->
<!--      <label style="color: red" *ngIf="form.controls.bacSi.hasError('required') && form.controls.bacSi.touched">Không được để trống</label>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td></td>-->
<!--      <td><button class="btn btn-danger mb-1 mt-1" [disabled]="!form.valid">Cập Nhật</button></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->
