<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Customer</title>
</head>
<body>
<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">THÊM MỚI KHÁCH HÀNG</h3>
            <form [formGroup]="form" (ngSubmit)="addCustomer()">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <input type="hidden" class="form-control form-control-lg"/>

                  <div class="form-outline">
                    <label class="form-label" for="name">Nhập Tên</label>
                    <input placeholder="Ex: Nguyễn Văn A" formControlName="name" type="text" id="name" class="form-control form-control-lg"/>
                    <p style="color: red" *ngIf="form.controls.name.hasError('required') && form.controls.name.touched">Không được để trống</p>
                    <p style="color: red" *ngIf="form.controls.name.hasError('pattern')">Tên không đúng định dạng</p>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="dateOfBirth">Ngày Sinh</label>
                    <input type="date" formControlName="dateOfBirth" id="dateOfBirth" class="form-control-lg"/>
                    <p style="color: red" *ngIf="form.controls.dateOfBirth.hasError('required') && form.controls.dateOfBirth.dirty">Không được để trống</p>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <label for="idCard" class="form-label">CMND</label>
                    <input placeholder="Ex: 012345678" type="text" formControlName="idCard" id="idCard" class="form-control form-control-lg"/>
                    <p style="color: red" *ngIf="form.controls.idCard.hasError('required') && form.controls.idCard.dirty">Không được để trống</p>
                    <p style="color: red" *ngIf="form.controls.idCard.hasError('pattern')">Số CMND không đúng định dạng</p>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Giới Tính: </h6>

                  <div class="form-check form-check-inline">
                    <input formControlName="gender" id="gender" class="form-check-input" type="radio" [value]="true"/>
                    <label for="gender" class="form-check-label">Nam</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input formControlName="gender" id="gender1" class="form-check-input" type="radio" [value]="false"/>
                    <label class="form-check-label" for="gender1">Nữ</label>
                  </div>

                  <p style="color: red" *ngIf="form.controls.gender.hasError('required') && form.controls.gender.dirty">Không được để trống</p>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label for="phone" class="form-label">Số Điện Thoại</label>
                    <input placeholder="Ex: 090xxxxxxx" type="text" formControlName="phone" id="phone" class="form-control form-control-lg"/>
                    <p style="color: red" *ngIf="form.controls.phone.hasError('required') && form.controls.phone.dirty">Không được để trống</p>
                    <p style="color: red" *ngIf="form.controls.phone.hasError('pattern')">Số điện thoại không đúng định dạng</p>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label for="email" class="form-label">Email</label>
                    <input placeholder="Ex: abc@abc.com" type="text" formControlName="email" id="email" class="form-control form-control-lg"/>
                    <p style="color: red" *ngIf="form.controls.email.hasError('required') && form.controls.email.dirty">Không được để trống</p>
                    <p style="color: red" *ngIf="form.controls.email.hasError('pattern')">Email không đúng định dạng</p>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label for="address" class="form-label">Địa Chỉ</label>
                    <input type="text" formControlName="address" id="address" class="form-control form-control-lg"/>
                    <p style="color: red" *ngIf="form.controls.address.hasError('required') && form.controls.address.dirty">Không được để trống</p>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <label for="customerType" class="form-label fs-6">Loại Khách Hàng</label>
                  <select formControlName="customerType" id="customerType" class="select form-control-md">
                    <option value="">Chọn Loại khách hàng</option>
                    <option *ngFor="let customerType of customerTypeList" [ngValue]="customerType">{{customerType.name}}</option>
                  </select>
                  <p style="color: red" *ngIf="form.controls.customerType.hasError('required') && form.controls.customerType.dirty">Không được để trống</p>

                </div>
              </div>

              <div class="mt-4 pt-2">
                <button class="btn btn-primary btn-lg" [disabled]="!form.valid">Lưu</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
