<a routerLink="/product-create">Thêm mới sản phẩm</a>

<input type="text" #name placeholder="Nhập Tên">

<select #category>
  <option value="">Chọn danh mục</option>
  <option *ngFor="let category of categoryList" [value]="category.name">{{category.name}}</option>
</select>

<button class="btn btn-primary" (click)="search(name.value, category.value)">Tìm kiếm</button>

<table class="table table-info">
  <thead>
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Giá</th>
    <th>Công Ty</th>
    <th>Danh Mục</th>
    <th>Xóa</th>
    <th>Chỉnh Sửa</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of productList | paginate: {itemsPerPage: 2, currentPage: page}; index as i">
    <td>{{i}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.company}}</td>
    <td>{{product.category.name}}</td>
    <td><button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="delete = product">Xóa</button></td>
    <td><button [routerLink]="['/product-edit', product.id]" class="btn btn-primary">Chỉnh sửa</button></td>
  </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="page = $event"></pagination-controls>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa sản phẩm: <label>{{delete.name}}</label> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteProduct()">Xóa</button>
      </div>
    </div>
  </div>
</div>
