<div class="row sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" href="#">TRANG CHỦ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">LOẠI PHÒNG</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">ẨM THỰC</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">HỘI NGHỊ VÀ SỰ KIỆN</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">SPA</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">GIẢI TRÍ</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">ĐIỂM ĐẾN</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">ƯU ĐÃI</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              QUẢN LÝ
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item">Quản
                lý nhân viên</a></li>
              <li><a href="#" class="dropdown-item">Quản
                lý khách hàng</a></li>
              <li><a [routerLink]="['/facility']"  class="dropdown-item">Quản
                lý dịch vụ</a></li>
              <li><a href="" class="dropdown-item">Quản
                lý hợp đồng</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
