<div class="row left">
  <!--    <div class="col-lg-3 mar">-->
  <div class="row">
    <h1 class="text-lg-center">Hướng Dẫn Di Chuyển</h1>
    <p>Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những điểm đến hấp dẫn nhất Châu Á. Chỉ cách Đà
      Nẵng một quãng lái xe ngắn là bốn Di sản Văn hóa Thế giới được UNESCO công nhận:</p>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-lg-8">
        <p>1. Cố đô Huế</p>
      </div>
      <div class="col-lg-4">
        <p class="text-secondary">2 giờ</p>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <p>2. Phố cổ Hội An</p>
      </div>
      <div class="col-lg-4">
        <p class="text-secondary">30 phút</p>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <p>3.Thánh địa Mỹ Sơn</p>
      </div>
      <div class="col-lg-4">
        <p class="text-secondary">90 phút</p>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <p>4. Động Phong Nha</p>
      </div>
      <div class="col-lg-4">
        <p class="text-secondary">3 giờ</p>
      </div>
      <hr>
    </div>
  </div>
</div>

<div class="row text-lg-center fs-4">
  <p>©2023 Furama Resort Danang</p>
</div>
